@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
}

.droid {
    font-family: 'Idroid', sans-serif;
    margin: 0 0 5px 0;
}

.gradient {
    background: linear-gradient(to right, var(--cor0), transparent);
}

.externo {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}

.externo::after {
    content: ' 🔗';
}

.externo:hover {
    text-decoration: underline;
    color: var(--cor4);
}

.externo:visited {
    color: var(--cor5);
}

body {
    background-color: var(--cor0);
    min-width: 150px;
}

h2, h1, p {
    margin: 1em 0 1em 0;
}

header {
    background: linear-gradient(to top, var(--cor4), var(--cor2));
    list-style: none;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1em 0 0 0;
    margin: 0 0 10px 0;
    color: var(--cor0);
    font-size: 2em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.250);
}

header p {
    text-align: center;
    margin: 0 0 1.5em 0;
    padding: 0 10px 0 10px;
    color: var(--cor0);
    font-family: monospace;
    font-size: 1.3em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.300)
}

nav {
    padding: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.150);
}

nav li {
    display: inline-block;
}

li a {
    text-decoration: none;
    padding: 10px;
    color: var(--cor1);
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

li a:hover {
    transition-duration: 500ms;
    background-color: var(--cor5);
}

article {
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto 1em auto;
    background-color: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.410);
}

article strong {
    color: var(--cor4);
    font-weight: bold;
}

article h1 {
    color: var(--cor5);
    font-size: 1.8em;
    font-weight: normal;
}

article h2 {
    text-indent: 8px;
    color: var(--cor4);
    font-size: 1.4em;
    font-weight: normal;
}

article p {
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}

article picture img {
    width: 100%;
}

article img {
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0 -20px 30px -20px;
    padding: 20px 20px 56.5% 20px;
    position: relative;
}

article iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

article aside {
    background-color:  var(--cor1);
    border-radius: 10px;
    padding: 0 0 12px 0;
    margin: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.410);
}

aside h3 {
    background-color: var(--cor4);
    margin: 0 0 5px 0;
    padding: 10px 10px 10px 20px;
    border-radius: 10px 10px 0 0;
    color:
     var(--cor0);
}

aside .extra {
    margin: 10px;
    padding: 0 10px 0 10px;
}

.extra ul {
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}

footer {
    padding: 5px;
    background-color: var(--cor4);
    color: var(--cor5);
}

footer p {
    display: inline-block;
    margin: 7px 0 0 0;
    vertical-align: top;
    color: var(--cor0);
}
footer a img { 
    float: right;
    width: 30px;
    margin: 0 5px 0 0;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    .extra ul {
        columns: 1;
    }
}